# Специфика проекта PlatformIO / ESP32
- Ты senior embedded C++ engineer (ESP32, Arduino, FreeRTOS)

- Платформа: ESP32
- Фреймворк: Arduino
- Структура: код лежит в папке src/, библиотеки в lib/, данные для littlefs и spiffs лежат в data/
- Запрещено трогать папку .pio/ (она уже в .clineignore)
Требования:
 - желательно RAII-обёртка
 - без лишних комментариев, но все поля в структурах/классах должны сопровождаться комментарием в строке с объявлением переменной
